<!DOCTYPE html>
<html>
  <head>
    <title>post</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>post</h1>
    <p>Welcome to <%= body.name %></p>
    <p><%= body.email %></p>
    <p><%= body.message %></p>
  </body>
</html>
